* {
  box-sizing: border-box; }

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden; }

body {
  font: 16px / 27px 'Fira Sans', sans-serif;
  font-weight: 400;
  background-attachment: fixed;
  backface-visibility: hidden; }

input[type="text"] {
  height: 40px;
  padding: 5px 10px;
  font: inherit; }

canvas {
  margin-left: -30px; }

.load-bar {
  width: 0%;
  height: 3px;
  margin-top: -3px;
  background-color: #00FFCE;
  transform: translateY(0px);
  backface-visibility: hidden; }
  .load-bar.loading {
    opacity: 1;
    transform: translateY(3px);
    animation: load 4s cubic-bezier(1, 0, 0, 1); }
  .load-bar.loaded {
    width: 100%;
    opacity: 0;
    transform: translateY(0px);
    transition: width 0.2s cubic-bezier(1, 0, 0, 1), opacity 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, transform 0.2s cubic-bezier(1, 0, 0, 1) 0.2s; }

@keyframes load {
  0% {
    width: 0%; }
  20% {
    width: 25%; }
  40% {
    width: 40%; }
  60% {
    width: 70%; }
  80% {
    width: 75%; }
  100% {
    width: 100%; } }
h3 {
  font-size: 1.2em;
  font-weight: normal; }

h4 {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0; }

.side-bar {
  float: left;
  width: 240px;
  height: 100vh;
  padding: 30px;
  color: #fff;
  background-color: #3E3B56;
  border-right: 1px solid #e9e9ec; }

.logo {
  font-weight: bold;
  margin-bottom: 20px; }

.btn {
  color: #3399FF;
  cursor: pointer; }
  .btn:hover {
    text-decoration: underline; }

.deck-list {
  list-style: none;
  padding: 0;
  margin-top: 10px; }
  .deck-list li {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4); }
    .deck-list li:hover {
      color: white; }

.main-content {
  float: left;
  width: 70%;
  height: 100%;
  overflow-y: scroll; }
  .main-content * {
    backface-visibility: hidden; }

.header {
  width: 100%;
  padding: 30px 30px 0 30px; }

.deck-lockup {
  float: left; }
  .deck-lockup #deck-portrait {
    float: left;
    height: 63px;
    width: 62px;
    overflow: hidden;
    background-image: url(../assets/images/class-icons.png); }
  .deck-lockup .deck-name {
    float: left;
    margin-left: 10px; }

.deck-stats {
  float: left;
  list-style: none; }
  .deck-stats li {
    float: left; }
    .deck-stats li + li {
      margin-left: 40px; }
  .deck-stats .played:before,
  .deck-stats .wins:before,
  .deck-stats .losses:before,
  .deck-stats .winrate:before {
    display: block;
    font-size: 0.8em; }
  .deck-stats .played:before {
    content: "Played: "; }
  .deck-stats .wins:before {
    content: "Wins: "; }
  .deck-stats .losses:before {
    content: "Losses: "; }
  .deck-stats .winrate:before {
    content: "Winrate: "; }

.detail-container {
  height: 100%; }

.main-container {
  float: left;
  width: calc(100% - 240px);
  height: 100%; }
  .main-container.loading:before {
    opacity: 1; }

.deck-winrates {
  height: auto;
  padding: 30px; }
  .deck-winrates .class-breakdown {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: rotateX(180deg); }
  .deck-winrates .class-breakdown li {
    -webkit-flex: 1 0 0;
    flex: 1 0 0; }
    .deck-winrates .class-breakdown li:nth-child(1) {
      background-color: #e0a66c; }
    .deck-winrates .class-breakdown li:nth-child(2) {
      background-color: #e0e06c; }
    .deck-winrates .class-breakdown li:nth-child(3) {
      background-color: #a6e06c; }
    .deck-winrates .class-breakdown li:nth-child(4) {
      background-color: #6ce06c; }
    .deck-winrates .class-breakdown li:nth-child(5) {
      background-color: #6ce0a6; }
    .deck-winrates .class-breakdown li:nth-child(6) {
      background-color: #6ce0e0; }
    .deck-winrates .class-breakdown li:nth-child(7) {
      background-color: #6ca6e0; }
    .deck-winrates .class-breakdown li:nth-child(8) {
      background-color: #6c6ce0; }
    .deck-winrates .class-breakdown li:nth-child(9) {
      background-color: #a66ce0; }

.deck-matches {
  padding: 30px; }
  .deck-matches form {
    padding-bottom: 20px;
    border-bottom: 2px solid #eee; }
    .deck-matches form input[type="button"] {
      float: right;
      margin: 0.45em; }

.deck-match-header {
  list-style: none;
  padding: 0; }
  .deck-match-header li {
    flex: 5;
    font-size: 0.8em;
    font-weight: bold; }

.deck-match-list {
  padding: 0; }
  .deck-match-list li {
    width: 100%;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #eee; }
    .deck-match-list li .delete-match {
      color: #3399FF;
      cursor: pointer; }
      .deck-match-list li .delete-match:hover {
        text-decoration: underline; }
    .deck-match-list li div {
      flex: 4;
      text-transform: capitalize; }
      .deck-match-list li div.win {
        color: #61DB7B; }
      .deck-match-list li div.loss {
        color: red; }

.deck-cardlist {
  float: left;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  padding: 30px;
  backface-visibility: hidden;
  border-left: 2px solid #eee; }
  .deck-cardlist h3:after {
    content: "(" attr(data-count) ")";
    margin-left: 10px;
    color: #ccc; }

.card-search-container input {
  width: 100%; }

.card-search-results {
  display: none;
  list-style: none;
  margin: 0;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .card-search-results.show {
    display: block; }
  .card-search-results li {
    cursor: pointer; }
    .card-search-results li:hover {
      background-color: #f1f1f1; }

.deck-cards {
  list-style: none;
  padding: 0; }
  .deck-cards li {
    font-weight: 400;
    cursor: pointer; }
    .deck-cards li:hover {
      text-decoration: underline; }
    .deck-cards li:before {
      content: attr(data-cost);
      color: #ccc;
      font-size: 1em;
      margin-right: 10px; }
    .deck-cards li:after {
      content: attr(data-count);
      float: right;
      color: #000;
      font-size: 1em; }
  .deck-cards .basic {
    color: #4b4d58; }
  .deck-cards .common {
    color: #61DB7B; }
  .deck-cards .rare {
    color: #3399FF; }
  .deck-cards .epic {
    color: #B444D8; }
  .deck-cards .legendary {
    color: #F79F48; }

.new-deck-container {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  padding: 30px;
  background-color: #3E3B56;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  transform: translateX(-240px); }
  .new-deck-container.show {
    transform: translateX(-1px); }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    font-size: 0.7em;
    display: block; }

.clearfix:after, .side-bar:after, .detail-container:after, .header:after, .deck-lockup:after, .deck-stats:after, .main-container:after, .deck-winrates:after, .deck-winrates .class-breakdown:after, .deck-matches form:after, .deck-match-list li:after, .deck-cardlist:after {
  content: "";
  display: table;
  clear: both; }

.flex-horizontal, .deck-winrates .class-breakdown, .deck-match-header, .deck-match-list li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.druid {
  background-position: 0 -441px; }

.hunter {
  background-position: 0 -126px; }

.mage {
  background-position: 0 -378px; }

.paladin {
  background-position: 0 -315px; }

.priest {
  background-position: 0 -252px; }

.rogue {
  background-position: 0 -189px; }

.shaman {
  background-position: 0 -504px; }

.warrior {
  background-position: 0 -63px; }

.warlock {
  background-position: 0 0; }
