* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: 17px / 27px 'Courier New';
  font-weight: bold;
  background-attachment: fixed;
  backface-visibility: hidden; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }
