$gray: #7B7D8E;
$lightestgray: lighten($gray, 40%);
$lightgray: lighten($gray, 20%);
$darkgray: darken($gray, 10%);
$darkestgray: darken($gray, 20%);

$green: #61DB7B;
$blue: #3399FF;
$bluegreen: #00FFCE;
$purple: #B444D8;
$orange: #F79F48;
$darkblue:#3E3B56;

* {box-sizing: border-box;}

html,
body,
.wrapper {
	height: 100%;
	width: 100%;
  margin: 0;
	overflow: hidden;
}

body {
	font: 16px / 27px 'Roboto', sans-serif;
	font-weight: 400;
	background-attachment: fixed;
	backface-visibility: hidden;
}

input[type="text"] {
  height: 35px;
  font-family: inherit;
  font-size: 0.8em;
  padding: 5px 10px;
  // border-radius: 3px;

  &.dark {
    width: 100%;
    background-color: lighten($darkblue, 20%);
    color: #fff;
    border: none;
  }
}

select {
  height: 35px;
  font-family: inherit;
  font-size: 0.8em;
  padding: 5px 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;

  &.light {
    border: 1px solid $lightgray;
    background-color: $lightestgray;
    color: $darkblue;
  }
  &.dark {
    width: 100%;
    background-color: lighten($darkblue, 20%);
    color: #fff;
    border: none;
  }
}

canvas {
  margin-left: -30px;
}

.load-bar {
  width: 0%;
  height: 3px;
  margin-top: -3px;
  background-color: #00FFCE;
  transform: translateY(0px);
  backface-visibility: hidden;

  &.loading {
    opacity: 1;
    transform: translateY(3px);
    animation: load 8s cubic-bezier(1,0,0,1);
  }
  &.loaded {
    width: 100%;
    opacity: 0;
    transform: translateY(0px);
    transition: width 0.2s cubic-bezier(1,0,0,1), opacity 0.2s cubic-bezier(1,0,0,1) 0.2s, transform 0.2s cubic-bezier(1,0,0,1) 0.2s;
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  20% {
    width: 25%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 70%;
  }
  80% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}
h4 {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0;
}

.side-bar {
  float: left;
  width: 250px;
  height: 100vh;
  padding: 30px;
  color: #fff;
  background-color: $darkblue;
  border-right: 1px solid $lightestgray;
  @extend .clearfix;

  h4 {
    margin-top: 3em;
    color: lighten($darkblue, 20%);
  }
}

.logo {
  margin-bottom: 20px;
}

@mixin button($bg, $color) {
  color: $color;
  background-color: $bg;
  &:hover {
    background-color: darken($bg, 5%);
  }
}

.btn {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  
  &--secondary {
    @include button(lighten($darkblue, 20%), #fff);
  }

  &--main {
    @include button($bluegreen, $darkblue);
  }

  &--med {
    padding: 10px 40px;
    font-size: 0.8em;
  }

  &--small {
    padding: 5px 25px;
    font-size: 0.6em;
  }

  &.right {
    float: right;
  }
}

.deck-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;

  li {
    line-height: 2em;
  }

  li span{
    cursor: pointer;
    color: lighten($darkblue, 30%);
  }

  li span:hover {
    color: rgba(255,255,255,1);
  }

  li:hover {
    .delete-deck {
      display: inline-block;
    }
  }

  .delete-deck {
    display: none;
  }
}

.delete-deck {
  float: right;
}

.detail-container {
  @extend .clearfix;
}

.main-content {
  float: left;
  width: 70%;
  height: 100%;
  overflow-y: scroll;

  * {
    backface-visibility: hidden;
  }
}

.header {
  width: 100%;
  padding: 30px 30px 0 30px;
  @extend .clearfix;
}

.deck-lockup {
  float: left;
  @extend .clearfix;

  #deck-portrait {
    float: left;
    height: 63px;
    width: 62px;
    overflow: hidden;
    background-image: url(../assets/images/class-icons.png);
  }
  .deck-name {
    float: left;
    margin-left: 10px;
  }
}

.deck-stats {
  float: left;
  list-style: none;
  @extend .clearfix;

  li {
    float: left;
    
    & + li {
      margin-left: 40px;
    }
  }
  
  .played:before,
  .wins:before,
  .losses:before,
  .winrate:before {
    display: block;
    font-size: 0.8em;
  }

  .played:before {
    content: "Played: ";
  }
  .wins:before {
    content: "Wins: ";
  }
  .losses:before {
    content: "Losses: ";
  }
  .winrate:before {
    content: "Winrate: ";
  }
}

.detail-container {
  height: 100%;
}

.main-container {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  @extend .clearfix;

  &.loading:before {
    opacity: 1;
  }
}

.deck-winrates {
  height: auto;
  padding: 30px;
  @extend .clearfix;
  
  .class-breakdown {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: rotateX(180deg);
    @extend .flex-horizontal;
    @extend .clearfix;
  }

  .class-breakdown li {
    -webkit-flex: 1 0 0; 
     flex: 1 0 0;
    // height: inherit;

    @for $i from 1 through 9 {
        &:nth-child(#{$i}) {  
          background-color: hsl(30*$i,65%,65%);;
        }
    }
  }
}

.deck-matches {
  padding: 30px;

  form {
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    @extend .clearfix;

    label:first-child {
      margin-right: 20px;
    }

    input[type="button"] {
      float: right;
      margin: 0.45em;
    }
  }
}

.deck-match-header {
  list-style: none;
  padding: 0;
  @extend .flex-horizontal;

  li {
    flex: 5;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.deck-match-list {
  padding: 0;

  li {
    width: 100%;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #eee;
    @extend .flex-horizontal;
    @extend .clearfix;

    .delete-match {
      text-align: right;
      font-size: 0.8em;
      color: $lightgray;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    div {
      flex: 4;
      text-transform: capitalize;

      &.win {
      color: $green;
      }
      &.loss {
        color: red;
      }
    }
  }
}

.deck-cardlist {
  float: left;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  padding: 30px;
  backface-visibility: hidden;
  border-left: 2px solid #eee;
  @extend .clearfix;

  h3:after {
    content: '('attr(data-count)')';
    margin-left: 10px;
    color: #ccc;
  }
}

.card-search-container {
  input {
    width: 100%;
  }
}

.card-search-results {
  display: none;
  list-style: none;
  margin: 0;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);

  &.show {
    display: block;
  }

  li {
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.deck-cards {
  list-style: none;
  padding: 0;

  li {
    font-weight: 400;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: attr(data-cost);
      color: #ccc;
      font-size: 1em;
      margin-right: 10px;
    }
    &:after {
      content: attr(data-count);
      float: right;
      color: #000;
      font-size: 1em;
    }
  }

  .basic {
    color: $darkestgray;
  }
  .common {
    color: $green;
  }
  .rare {
    color: $blue;
  }
  .epic {
    color: $purple;
  }
  .legendary {
    color: $orange;
  }
}

.new-deck-container {
  position: absolute;
  top:0;
  left:0;
  width: inherit;
  height: 100%;
  padding: 30px;
  background-color: $darkblue;
  transition: all .1s cubic-bezier(0,0,0,1);
  transform: translateX(-250px);

  &.show {
    transform: translateX(-1px);    
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 0.8em;
    display: block;
  }

  .horizontal & {
    float: left;
    margin-bottom: 0;

    label {
      display: inline;
    }

    & + .form-group {
      margin-left: 20px;
    }
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.flex-horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.druid {
  background-position: 0 -441px;
}

.hunter {
  background-position: 0 -126px;
}

.mage {
  background-position: 0 -378px;
}

.paladin {
  background-position: 0 -315px;
}

.priest {
  background-position: 0 -252px;
}

.rogue {
  background-position: 0 -189px;
}

.shaman {
  background-position: 0 -504px;
}

.warrior {
  background-position: 0 -63px;
}

.warlock {
  background-position: 0 0;
}