$gray: #7B7D8E;
$lightestgray: lighten($gray, 40%);
$lightgray: lighten($gray, 20%);
$darkgray: darken($gray, 10%);
$darkestgray: darken($gray, 20%);

$green: #61DB7B;
$blue: #3399FF;
$purple: #B444D8;
$orange: #F79F48;

* {box-sizing: border-box;}

html,
body,
.wrapper {
	height: 100%;
	width: 100%;
  margin: 0;
	overflow: hidden;
}

body {
	font: 16px / 27px 'Fira Sans', sans-serif;
	font-weight: 300;
	background-attachment: fixed;
	backface-visibility: hidden;
}

.load-bar {
  width: 0%;
  height: 3px;
  background-color: #000;
  backface-visibility: hidden;

  &.loading {
    opacity: 1;
    animation: load 4s cubic-bezier(1,0,0,1);
  }
  &.loaded {
    width: 100%;
    opacity: 0;
    transition: width 0.2s cubic-bezier(1,0,0,1), opacity 0.2s cubic-bezier(1,0,0,1) 0.2s;
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  20% {
    width: 25%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 70%;
  }
  80% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

h3 {
  font-size: 1em;
  font-weight: normal;
}
h4 {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0;
}

.side-bar {
  float: left;
  width: 240px;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid $lightestgray;
  @extend .clearfix;
}

.logo {
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  color: $blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.deck-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;

  li {
    cursor: pointer;
    color: #AAA;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  width: 100%;
  padding: 20px;
  @extend .clearfix;
}

.deck-lockup {
  float: left;
  @extend .clearfix;

  #deck-portrait {
    float: left;
    height: 63px;
    width: 62px;
    overflow: hidden;
    background-image: url(../assets/images/class-icons.png);
  }
  .deck-name {
    float: left;
    margin-left: 10px;
  }
}

.deck-stats {
  float: left;
  list-style: none;
  @extend .clearfix;

  li {
    float: left;
    
    & + li {
      margin-left: 40px;
    }
  }
  
  .played:before,
  .wins:before,
  .losses:before,
  .winrate:before {
    display: block;
    font-size: 0.8em;
  }

  .played:before {
    content: "Played: ";
  }
  .wins:before {
    content: "Wins: ";
  }
  .losses:before {
    content: "Losses: ";
  }
  .winrate:before {
    content: "Winrate: ";
  }
}

.main-container {
  float: left;
  width: calc(100% - 240px);
  @extend .clearfix;

  &.loading:before {
    opacity: 1;
  }
}

.main-content {
  h3 {
    margin-left: 20px;
  }
}

.deck-winrates {
  float: left;
  width: 70%;
  height: 300px;
  @extend .clearfix;
  
  .class-breakdown {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .flex-horizontal;
    @extend .clearfix;
  }

  .class-breakdown li {
    -webkit-flex: 1 0 0; 
     flex: 1 0 0;
    height: inherit;

    // @for $i from 1 through 9 {
    //     &:nth-child(#{$i}) {  
    //       background-color: hsl(30*$i,65%,65%);;
    //     }
    // }
  }
}
.deck-cardlist {
  float: left;
  width: 30%;
  @extend .clearfix;
}

.deck-cards {
  list-style: none;

  .basic {
    color: $darkestgray;
  }
  .common {
    color: $green;
  }
  .rare {
    color: $blue;
  }
  .epic {
    color: $purple;
  }
  .legendary {
    color: $orange;
  }
}

.new-deck-container {
  position: absolute;
  top:0;
  left:0;
  width: inherit;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  transition: all 0.25s cubic-bezier(0,0,0,1);
  transform: translateX(-240px);

  &.show {
    transform: translateX(-1px);    
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 0.7em;
    display: block;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.flex-horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.druid {
  background-position: 0 -441px;
}

.hunter {
  background-position: 0 -126px;
}

.mage {
  background-position: 0 -378px;
}

.paladin {
  background-position: 0 -315px;
}

.priest {
  background-position: 0 -252px;
}

.rogue {
  background-position: 0 -189px;
}

.shaman {
  background-position: 0 -504px;
}

.warrior {
  background-position: 0 -63px;
}

.warlock {
  background-position: 0 0;
}